<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true"
         verbose="true">
    <testsuites>
        <testsuite name="Upkeepify">
            <directory suffix=".php">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>includes/</directory>
            <file>upkeepify.php</file>
            <exclude>
                <directory>tests/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
