.upkeepify-tasks-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.upkeepify-tasks-list li {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    font-size: 0.9rem;
}

.upkeepify-tasks-list li:last-child {
    border-bottom: none;
}

.upkeepify-tasks-list strong {
    font-weight: bold;
    margin-right: 5px;
}

.upkeepify-tasks-list span {
    margin-right: 10px;
    color: #555;
}
